
@model MyFirstWebsite.Models.LoginModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@Html.ValidationSummary(true)

@using (Html.BeginForm())
{
    
        @Html.EditorForModel()
    <br /><p>
              <button type="submit" class="btn btn-info">Login</button>
          </p>

    
    
}
